<div class="row" style="margin-top:20px">
    <div class="col-sm-6 frame frame_static">
    	<div>
    		<h1><span class="text-title">About Me</span></h1>
    		<a href="https://www.facebook.com/felix.cheng.79" target="_blank"><img src="img/FB-f-Logo__blue_29.png" alt="Felix`s Facebook"></a>	
    		<a href="http://felixcheng-blog.logdown.com/" target="_blank"><img src="img/logdown_logo_square.png" alt="Felix`s Blog"></a>
    		<a href="https://tw.linkedin.com/in/yuanhsingcheng" target="_blank"><img src="img/In-2CRev-28px-R.png" alt="Felix`s Linkedin"></a>
    	</div>
        <div btf-markdown ng-include="'md/about.md'"></div>
    </div>
</div>