<!--
<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">{{vm.title}}</h1>
    </div>
</div>
-->
<div class="row" style="margin-top:20px">
    <div class="col-sm-6 frame frame_static">
    	<div>
    		<h1><span class="text-title">Profile</span></h1>
    	</div>
        <div btf-markdown ng-include="'md/profile.md'"></div>
    </div>
    <div class="col-sm-6 frame frame_static">
        <div>
            <h1><span class="text-title">Skills</span></h1>
        </div>
        <div btf-markdown ng-include="'md/skills.md'"></div>
    </div>
</div>

<div class="row" style="margin-top:20px">
    <div class="col-sm-12 frame">
        <div class="text-center">
            <h1><span class="text-title">Contact Me</span></h1>
            <h2><span>oxipn1290@gmail.com</span></h2>
        </div>
        <!--<div btf-markdown ng-include="'md/home.md'"></div>-->
    </div>
</div>