<div class="row" style="margin-top:20px">
    <div class="col-sm-6">
    	<div>
    		<h1><span>Work History</span></h1>
    	</div>
    	<div class="frame frame_static">
    		<div btf-markdown ng-include="'md/syntrontech.md'"></div>
    	</div>
    </div>
</div>

<div class="row" style="margin-top:20px">
    <div class="col-sm-6">
        <div class="frame frame_static">
            <div btf-markdown ng-include="'md/status.md'"></div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:20px">
    <div class="col-sm-6">
        <div class="frame frame_static">
            <div btf-markdown ng-include="'md/edimax.md'"></div>
        </div>
    </div>
</div>

<!--
<div id="syntrontech-box" class="modal fade bd-example-modal-lg manager-box" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="margin: 0 auto;">
              <div btf-markdown ng-include="'md/syntrontech.md'"></div>
            </div>
        </div>
    </div>
</div>

<div id="status-box" class="modal fade bd-example-modal-lg manager-box" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="margin: 0 auto;">
              <div btf-markdown ng-include="'md/status.md'"></div>
            </div>
        </div>
    </div>
</div>

<div id="edimax-box" class="modal fade bd-example-modal-lg manager-box" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="margin: 0 auto;">
              <div btf-markdown ng-include="'md/edimax.md'"></div>
            </div>
        </div>
    </div>
</div>
-->