<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="main">{{vm.projectTitle}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="about">自我介紹</a></li>
                    <li><a ui-sref="work">工作經歷</a></li>
                    <li><a ui-sref="project">專案經驗</a></li>
                    <li><a ui-sref="collections">個人作品</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>